* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  color: #ffffff;
}

body {
  background-color: #292828;
  height: 100vh;
  max-width: 1400px;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#lside img {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  cursor: pointer;
  margin: 0;
  padding: 10px;
}

#grapevine {
  width: 70px;
  height: 90px;
}

#plus {
  width: 60px;
  height: 60px;
}

#lside {
  /* display: flex; */
  border-right: 1px solid #b0979a;
  max-width: 120px;
  margin: 0;
  justify-content: center;
  /* align-items: center; */
}

#lside img:not(:last-of-type) {
  margin-bottom: 20px;
}

#profile {
  min-width: 750px;
}
#ptop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

#ptop img {
  height: 200px;
  width: 200px;
}

#topl h1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 10px;
}

#fm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 20px;
}

#aboutm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin-left: 20px;
}

#aboutm h2 {
  font-size: medium;
}

#bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
  border-bottom: 1px solid #b0979a;
  padding-bottom: 5px;
}

#bar p {
  font-weight: 400;
  color: #ffffff;
}

#bar p:first-of-type {
  text-decoration: underline #ffffff;
  font-weight: 550;
}

#who {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#we {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#us {
  width: 500px;
}

#rose {
  margin-left: 20px;
  margin-top: 20px;
  width: 700px;
}

#rside {
  border-left: 1px solid #b0979a;
}
#dms {
  background-color: #131313;
  padding: 10px;
  margin: 20px;
  border-radius: 5%;
}

#dms h1 {
  margin-bottom: 20px;
}
.mm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.mm p {
  font-size: small;
  padding-left: 5px;
}

.mm img {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

#trend {
  background-color: #131313;
  padding: 10px;
  margin: 20px;
  border-radius: 5%;
}

/* #trend h1 {
  padding-bottom: 20px;
} */

.tt {
  margin: 20px;
}

.tt section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: small;
}

.tt section p {
  color: #b0979a;
}
